* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

input,
textarea,
button {
    padding: 8px;
    margin-bottom: 8px;
    width: auto;
    resize: none;
}

button {
    align-items: center;
    justify-content: center;
    cursor: pointer;
}